*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	padding: 2rem 10rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkout-header {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.checkout-header p {
	font-size: 2.1rem;
}

.delivery-product {
	max-width: 100%;
	height: 15rem;
}

.delivery-container {
	margin-top: 15rem;
}
.delivery-container h3 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.delivery-details {
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 2rem;
	max-width: max-content;
}

.delivery-details p {
	font-size: 1.7rem;
	color: green;
	font-weight: 500;
}

aside {
	float: right;
}
