:root {
	--orange: hsl(26, 100%, 55%);
	--dark-grayish-blue: hsl(220, 13%, 13%);
	--grayish-blue-1: hsl(219, 9%, 45%);
	--grayish-blue: hsl(220, 14%, 75%);
	--light-grayish-blue: hsl(223, 64%, 98%);
	--black: hsla(0, 0%, 0%, 0.75);
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	padding: 5rem 12rem;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 62.5%;
}

header {
	width: 100%;
	margin-bottom: 10rem;
}

.nav-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-details {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 5rem;
}

.nav-links {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

.nav-links li a {
	padding: 10px;
	text-decoration: none;
	font-size: 13.5px;
	position: relative;
	list-style: none;
	color: var(--grayish-blue-1);
	font-weight: 500;
}

.nav-links li a:hover {
	font-weight: 500;
	color: var(--dark-grayish-blue);
}
.nav-links li a::after {
	content: "";
	position: absolute;
	height: 0.2em;
	width: 0%;
	display: block;
	background-color: var(--orange);
	bottom: -3.1em;
	transition: all ease-in-out 200ms;
}

.nav-links li a:hover::after {
	cursor: pointer;
	width: 95%;
}

.cart-details {
	margin-top: -5rem;
	margin-left: -20rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
}

.cart-icon {
	margin-right: 5rem;
	transition: filter 0.15s ease-in;
}

.cart-icon:hover {
	cursor: pointer;
	filter: brightness(0.7) contrast(2.8);
}

.cart-item {
	color: #fff;
	background-color: var(--orange);
	padding: 0.15em 0.7em;
	border-radius: 40%;
	text-align: center;
}

.image-avatar {
	width: 40%;
	transition: transform 0.3s ease;
	border: 2px solid transparent;
}

.image-avatar:hover {
	border-color: var(--orange);
	border-radius: 50%;
	cursor: pointer;
	transform: scale(1.1);
}

.grayline {
	height: 2px;
	width: 100%;
	background-color: hsl(220, 14%, 75%);
	opacity: 0.15;
}

.main-section {
	display: flex;
	justify-content: space-between;
	align-self: center;
	margin: 5rem;
}

.product-section {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.product-section div > img {
	max-width: 75%;
	height: auto;
	border-radius: 10px;
}

.secondary-product {
	display: flex;
	gap: 2em;
}

.secondary-product > img {
	max-width: 40%;
	width: 16.5%;
	height: 25%;
}

.product-info {
	padding: 6rem 0 2rem;
}

.product-info_name {
	color: var(--dark-grayish-blue);
	font-size: 1.1em;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1.5em;
}

.main-heading {
	font-size: 4em;
	line-height: 1.1;
	word-spacing: 1px;
	margin-bottom: 1em;
}

.product_info__paragraph {
	color: var(--grayish-blue-1);
	font-size: 1.5em;
	max-width: 80%;
	margin-bottom: 1.5em;
	line-height: 1.5;
}

.price {
	font-size: 2rem;
	color: var(--dark-grayish-blue);
	font-weight: 600;
	margin-right: 0.8em;
}

.percent-discount {
	background-color: var(--dark-grayish-blue);
	color: #fff;
	padding: 3px 7px;
	font-size: 1.3em;
	letter-spacing: 1px;
	font-weight: 600;
	border-radius: 5px;
}

.price-container {
	margin-bottom: 1rem;
}

.price-discount {
	text-decoration: line-through;
	font-size: 1.4em;
	font-weight: 600;
	color: var(--grayish-blue-1);
	margin-bottom: 3rem;
}

.cart-container {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.cart-container .cart-container__quantity {
	background-color: var(--light-grayish-blue);
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4em;
	border-radius: 5px;
}

.cart-container div span {
	cursor: pointer;
	text-align: center;
	font-weight: 590;
}

.minus {
	font-size: 1.7em;
	color: var(--orange);
}

.zero {
	font-size: 1.5em;
}

.plus {
	font-size: 1.7em;
	color: var(--orange);
}

.cart-section {
	background-color: var(--orange);
	padding: 1em 6em;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.add-to-cart {
	text-decoration: none;
	font-size: 01.2em;
	font-weight: 600;
	color: var(--black);
	text-align: center;
}

.cart-section-icon {
	margin-right: 0.9em;
	width: 1.4em;
	filter: brightness(0.7) contrast(2.8);
}

.product-display {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	margin: 0 auto;
}

.product-container {
	padding: 20px;
	text-align: center;
	width: 100%;
	font-size: 2em;
}

.resize-img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	border: 2px solid transparent;
	transition: all 0.2s ease-in-out;
	margin-bottom: 2em;
}

.resize-img:hover {
	border-color: var(--orange);
	transform: scale(1.1);
}

.added-to-cart {
	font-size: 1.1em;
	background-color: var(--dark-grayish-blue);
	color: #fff;
	border-radius: 5px;
	padding: 0.2em 1em;
}

.added-to-cart:hover {
	cursor: pointer;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
